/* App Specific Styles */

/* CONTACTS APP */
.contact-row {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--border-light);
}

.contact-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #333;
    margin-right: 12px;
}